/* Шрифты */

@font-face {
    font-family: Moniqa;
    src: url(../fonts/Moniqa-BlackDisplay.ttf);
}

@font-face {
    font-family: SanFranciscoRegular;
    src: url(../fonts/SFUIText-Regular.woff);
}

@font-face {
    font-family: SanFranciscoRegularItalic;
    src: url(../fonts/SFUIText-RegularItalic.woff);
}

/* Общие стили */

body {
    background: #222;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    max-width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px 101px;
    flex-wrap: wrap;

    font-family: SanFranciscoRegular, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: normal;

    color: #DCE1DB;
}

