/* Переменные */

:root {
    --bg-dark-color: #222;
    --bg-light-color: #EEEEEE;
    --light-text-color: #DCE1DB;
    --darken-text-color: #CECECE;
    --scrollbar-thumb-color: #37474F;
}

/* Canvas шума */

.grain {
    position: absolute;
    width: 100%;
    height: 1995vh;
    z-index: 1;
    opacity: 0.07;
    background: url(../img/noise.gif) center repeat;
}

/* Шрифты */

@font-face {
    font-family: Moniqa;
    src: url(../fonts/Moniqa-BlackDisplay.ttf);
}

@font-face {
    font-family: Moniqa500;
    src: url(../fonts/Moniqa-LightParagraph.ttf);
}

@font-face {
    font-family: Moniqa500Italic;
    src: url(../fonts/Moniqa-ItalicParagraph.ttf);
}

@font-face {
    font-family: Moniqa600;
    src: url(../fonts/Moniqa-SemiBoldHeading.ttf);
}

@font-face {
    font-family: Moniqa800;
    src: url(../fonts/Moniqa-ExtraBoldParagraph.ttf);
}

@font-face {
    font-family: MoniqaParagraph;
    src: url(../fonts/Moniqa-Paragraph.ttf);
}

@font-face {
    font-family: SanFranciscoRegular;
    src: url(../fonts/SFUIText-Regular.woff);
}

@font-face {
    font-family: SanFranciscoRegularItalic;
    src: url(../fonts/SFUIText-RegularItalic.woff);
}

/* Общие стили */

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-dark-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 50px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.main {
    position: relative;
    overflow: hidden;
    background: var(--bg-dark-color);
}

.header {
    position: absolute;
    width: 75%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 25px 101px;
    flex-wrap: wrap;

    font-family: SanFranciscoRegular, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: normal;

    color: var(--light-text-color);

    margin-top: -25px;
    padding-top: 45px;

    cursor: default;

    z-index: 100;
}

.header::after {
    content: '';
    width: 100%;
    border: 1px solid var(--light-text-color);
}

.header__button {
    padding: 10px 25px;
    border: 1px solid var(--light-text-color);
    border-radius: 50px;

    cursor: pointer;
}

/* ----------- 1 БЛОК  ----------- */

.ep-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/background.png), lightgray -0.142px 0px / 100.015% 127.407% no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    color: var(--light-text-color);

    border-radius: 0px 0px 150px 150px;
}

.ep-1__title {
    font-family: Moniqa;
    font-size: 13em;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    animation: an_1 1s 1 both;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-delay: 0.5s;
}

.ep-1__subtitle {
    font-family: SanFranciscoRegular;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    animation: an_2 1.8s linear forwards;
}

.ep-1::after {
    content: '';
    margin-bottom: 50px;
}

/* ----------- 2 БЛОК  ----------- */

.ep-2 {
    position: relative;
    height: 100vh;
    background: url(../img/slide2_vavilov.svg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--light-text-color);
    font-family: Moniqa600;
    font-size: 5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ----------- 3 БЛОК  ----------- */

.ep-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-light-color);
    overflow: hidden;
    align-items: center;
    margin: -30px 0;
    padding: 30px 0;
}

.line__inner {
    display: flex;
    gap: 50px;
    white-space: nowrap;
    backface-visibility: hidden;
}

.line {
    display: flex;
    margin-top: 50px;
}

.line__content {
    color: #CECECE;

    font-family: Moniqa;
    font-size: 9.375em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    flex-shrink: 0;

    animation: line 28s linear infinite;
}

.ep-3__map {
    position: absolute;
    display: flex;
    align-content: flex-end;
    width: 80%;
    bottom: 0;
    left: 10%;
}

.ep-3 :where(.ep-3__area-info, .ep-3__city-name) {
    font-family: SanFranciscoRegular;

    z-index: 3;
}

.ep-3__area-info {
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item-area {
    display: flex;
    align-items: center;
    gap: 0 10px;
    z-index: 3;

    position: absolute;
    left: calc(75vw - 338px);
    top: calc(33vh + 15px);
}

.ep-3__city-name {
    position: absolute;

    color: #545454;
    font-weight: 400;
    text-transform: uppercase;

    bottom: calc(50vh + 20px);
    left: calc(50vw - 103px);
}


/* ----------- 4 БЛОК  ----------- */

.ep-4 {
    position: absolute;
    height: 100%;
    background: url(../img/memorial_vavilov.png) center / cover no-repeat;
    width: 100%;
    top: 0;
    left: -18vh;
    scale: 0.05;

    z-index: 5;
}

.ep-4__text {
    display: flex;
    justify-content: flex-end;

    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    color: var(--bg-light-color);
    transform: translate(calc(-10% + 8vh), calc(100% + 10vw));
}

/* ----------- 5 БЛОК  ----------- */

.ep-5 {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: var(--bg-light-color);
    height: 160vh;
    max-height: 2870px;

    /* top: -103.5vh; */

    overflow: hidden;
}

.ep-5__text {

    width: 100%;
    max-width: 60%;
    margin: 0 auto;

    color: #4B4B4B;

    text-align: justify;
    font-family: MoniqaParagraph;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: -30px;
    padding-top: 170px;
}

.cloud-1,
.cloud-2 {
    position: absolute;
    top: calc(50% - 190px);
}

.cloud-1 {
    left: 0;
    z-index: 3;
}

.cloud-2 {
    right: 0;
}

.ep-5__bg {
    display: flex;
    flex: 0 0 10%;
    width: 100%;

    z-index: 2;
}

/* ----------- 6 БЛОК  ----------- */

.ep-6 {
    background: url(../img/Vavilov_family.png) center no-repeat;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: relative;
    /* top: -110vh; */

    overflow: hidden;
}

.ep-6__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ep-6__title {
    color: #DCE1DB;

    text-align: justify;
    font-family: Moniqa;
    font-size: 12.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* ----------- 7 БЛОК  ----------- */

.ep-7 {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    background: var(--bg-light-color);

    height: 50vh;
    /* top: -100vh; */

    padding: 100px 0px;
    margin: -20px 0px;
}

.ep-7__box {
    display: flex;
    width: 30%;
    height: 90%;

    border-radius: 50px;
    background: url(../img/vavilov-gif.gif) center / cover no-repeat, #383838;
    background-blend-mode: screen, normal;

    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: #DCE1DB;

    position: relative;
    text-align: center;
    font-family: SanFranciscoRegular, sans-serif;
    font-size: 2.3125em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    z-index: 2;
}

/* ----------- 8 БЛОК  ----------- */

.ep-8 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: var(--bg-light-color);

    /* top: -100vh; */

    padding: 50px 0px;
    margin: -20px 0px;
}

.ep-8__title {
    color: var(--bg-dark-color);
    text-align: center;
    font-family: Moniqa500;
    font-size: 12vmin;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    width: 100%;
    max-width: 60%;
}

.ep-8__title span {
    color: var(--darken-text-color);
}

.ep-8__split-pic {
    display: flex;
    gap: 0 5vh;

    max-height: 50%;
    margin: -20px -10px;
    padding: 40px 10px;
}

.ep-8__parents {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: -20px 0;
    padding: 40px 0;

    color: #666;
    font-family: SanFranciscoRegular, sans-serif;
    font-size: 1.25em;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.ep-8__father-ep {
    display: flex;
    align-items: center;
    gap: 10%;
}

.ep-8__father-block {
    display: flex;
    flex-direction: column;
}

.ep-8__mother-ep {
    display: flex;
    align-items: center;

    gap: 3%;
}

.ep-8__mother-block {
    display: flex;
    flex-direction: column;
    padding: 0 4vw;


}

.father-block__text {
    margin-left: -20px;
    padding: 0 10vw;
}

.mother-svg {
    padding-left: 3em;
}

.mother-block__text {
    padding-left: 14vw;
}

.ep-8__quote {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;

    border-radius: 50px;
    border: 1px solid #666;

    padding: 5em 0;
    margin: 100px 0;
}

.quote-box__main-text {
    color: #000;

    text-align: center;
    font-family: Moniqa500;
    font-size: 4em;
    font-style: normal;
    font-weight: 300;
    line-height: 115.551%;
    text-transform: none;
    max-width: 70%;
}

.quote-box__bottom-text {
    color: #666;

    text-align: justify;
    font-family: SanFranciscoRegular, sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 70%;
}

/* ----------- 9 БЛОК  ----------- */

.ep-9 {
    background: url(../img/Vavilov_work.png) center no-repeat;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: relative;
    /* top: -98vh; */

    overflow: hidden;
}

.ep-9__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
}

.ep-9__title {
    color: #DCE1DB;

    text-align: justify;
    font-family: Moniqa;
    font-size: 12.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* ----------- 10 БЛОК  ----------- */

.ep-10 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    /* top: -98vh; */
    padding-bottom: 10vh;
    background-color: var(--bg-light-color);
}

.ep-10 :where(.ep-10__journey-1, .ep-10__journey-2) {
    width: 70%;
    text-align: center;
}

.ep-10__journey-1 {
    display: flex;
    flex-direction: column;

    margin-top: -20px;
    padding-top: 6em;
    align-items: center;
}

.ep-10__title {
    color: #4B4B4B;

    text-align: justify;
    font-family: Moniqa500;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03em;
}

.ep-10__collections {
    display: flex;
    gap: 5%;

    padding: 13% 0;
    margin: -5% 0;


}

.ep-10__subtitle {
    position: relative;
    display: flex;
    align-items: center;

    background: url(../img/ep-10-subtitle-bg.svg) center / contain no-repeat;

    color: #666;

    font-family: SanFranciscoRegular;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 50%;
    height: 40vh;
}

.ep-10__journey-2 {
    display: flex;

    gap: 18vh;
    justify-content: space-between;
    align-content: space-between;
    width: 80% !important;
    flex-direction: row;

    padding-top: 20vh;
    margin-top: -10vh;
}

.ep-10__subblock-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ep-10__subblock-text {
    color: #4B4B4B;
    text-align: justify;
    font-family: SanFranciscoRegular;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.ep-10__subblock-right {
    display: flex;
    flex-direction: row;
    gap: 5vh;
}

/* ----------- 11 БЛОК  ----------- */

.ep-11 {
    background: url(../img/Vavilov_prison.png) center no-repeat;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: relative;
    /* top: -98vh; */

    overflow: hidden;
}

.ep-11__title {
    color: #DCE1DB;

    text-align: justify;
    font-family: Moniqa;
    font-size: 12.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* ----------- 12 БЛОК  ----------- */

.ep-12 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-light-color);

    /* top: -98vh; */
}

.ep-12__critique {
    display: flex;
    flex-direction: column;

    width: 70%;

    color: #4B4B4B;
    text-align: justify;
    font-family: Moniqa500;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.ep-12__critique p {
    margin: -50px 0;
    padding: 20vh 0;
}

.ep-12__critique p>span {
    font-family: Moniqa500Italic;
}

.ep-12__arrest {
    display: flex;
    flex-direction: column;
}

.ep-12__arrest_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.ep-12__arrest_top span {
    color: #666;
    text-align: justify;
    font-family: SanFranciscoRegular;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 200.484%;
    /* 40.097px */
    text-transform: uppercase;

    width: 35%;
}

.ep-12__arrest_bottom {
    display: flex;
    justify-content: flex-end;
    gap: 5vh;

    margin-bottom: -30px;
    padding-bottom: 15vh;
}

.ep-12__quote {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-dark-color) !important;
    background: url(../img/ep-12-quote.png) center / 50% no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--light-text-color);
    font-family: Moniqa500;
    font-size: 5em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.ep-12__final {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 5vh;

    margin-top: -50px;
    padding-top: 15vh;
}

.ep-12__header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 70%;
    gap: 5vh;
}

.ep-12__title {
    color: var(--bg-dark-color);
    text-align: center;
    font-family: MoniqaParagraph;
    font-size: 7em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.ep-12__title span {
    color: #ABABAB;
}

.ep-12__subtitle {
    color: #666;
    text-align: center;
    font-family: SanFranciscoRegular;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150.96%;
    /* 30.192px */
    text-transform: uppercase;
    width: 80%;
}

.ep-12__speech-image {
    display: flex;
    gap: 5vh;
    width: 80%;
    justify-content: center;
}

.ep-12__final-text {
    padding: 10vh;

    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 50px;
    border: 1px solid #666;

    padding: 5em 0;
    margin: 100px 0;

    color: #000;
    text-align: center;
    font-family: Moniqa500;
    font-size: 4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 115.551%;
    /* 73.953px */
    max-width: 70%;

    padding: 10vh !important;
}

.ep-12__final-text span {
    color: #ABABAB;
}

.ep-12__final-text p {
    width: 80%;
    margin: 0 auto;
}

/* ----------- KEYFRAMES  ----------- */

@keyframes an_1 {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
        transform: perspective(1000px) translate3d(0px, 300px, 0px) rotate3d(-100, 0, 50, 45deg);
    }

    100% {
        opacity: 1;
        transform: perspective(500px px) translate3d(0, 0, 0);
    }
}

@keyframes an_2 {
    0% {
        opacity: 0;
        animation-timing-function: linear;
    }

    1% {
        opacity: 0;
        animation-timing-function: linear;
    }

    67% {
        opacity: 0;
        animation-timing-function: linear;
    }

    100% {
        opacity: 1;
    }
}

@keyframes line {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translate3d(100%, 0, 0);
        ;
    }
}


/* ----------- MEDIA  ----------- */

/* -------- MEDIA 1 БЛОК  -------- */

@media screen and (width < 79.875em) {
    .ep-1__title {
        font-size: 9em;
    }

    .ep-1__subtitle {
        font-size: 1.65em;
    }
}

@media screen and (width < 66.813em) {
    .header {
        flex-wrap: nowrap;

    }

    .header__title {
        order: 1;
    }

    .header::after {
        display: none;
    }

    .header__button {
        order: 3;
    }
}

@media screen and (width < 25.8125em) {
    .header {
        font-size: 1.5em;
        text-align: center;
    }

    .header__button {
        display: none;
    }

    .ep-1__title {
        font-size: 7em;
    }
}

/* -------- MEDIA 2 БЛОК  -------- */

@media screen and (width < 79.875em) {
    .ep-2 {
        height: 80vh;
        background: url(../img/slide2_vavilov.svg) bottom / contain no-repeat;
    }
}

@media screen and (width < 66.813em) {
    .ep-2 {
        font-size: 4.5em;
    }
}

@media screen and (width < 25.8125em) {
    .ep-2 {
        text-align: center;
        font-size: 3.5em;
    }

    .ep-2 :where(.ep-2__text-top, .ep-2__text-bottom) {
        width: 90%;
    }
}

/* -------- MEDIA 3 БЛОК  -------- */

@media screen and (width < 79.875em) {
    .ep-3__map {
        width: 100%;
        left: 0;
    }
}

@media screen and (width < 66.813em) {
    .ep-3__map {
        top: -2vh;
    }
}

@media screen and (width < 25.8125em) {
    .area-info {
        right: 5vh;
        left: unset;
        top: unset;
    }

    .ep-3__map {
        top: -15vh;
        scale: 1.5;
    }

    .ep-3__city-name {
        right: 20vh;
        top: 31%;
    }
}

/* -------- MEDIA 4 БЛОК  -------- */

@media screen and (width < 79.875em) {
    .ep-4__text {
        font-size: 1.5em;
    }
}

@media screen and (width < 66.813em) {
    .ep-4 {
        left: -15vh;
    }
}

@media screen and (width < 25.8125em) {
    .ep-4 {
        top: -18%;
    }

    .ep-4__text {
        position: relative;
        right: -25%;
        bottom: -50%
    }
}

/* -------- MEDIA 5 БЛОК  -------- */

@media screen and (width < 79.875em) {
    .ep-5 {
        height: 110vh;
    }
}

@media screen and (width < 25.8125em) {
    .ep-5__text {
        max-width: 80%;
        font-size: 2.5em;
    }

    .ep-5 :where(.cloud-1, .cloud-2) {
        opacity: 0.8;
    }

    .cloud-1 {
        top: 25%;
    }

    .cloud-2 {
        top: 15%;
    }
}


/* -------- MEDIA 6 БЛОК  -------- */

@media screen and (width < 66.813em) {
    .ep-6 {
        background: url(../img/Vavilov_family.png) center / 50% no-repeat;
    }

    .ep-6__title {
        font-size: 8em;
    }
}

@media screen and (width < 25.8125em) {
    .ep-6__title {
        font-size: 5em;
    }
}


/* -------- MEDIA 7 БЛОК  -------- */

@media screen and (width < 25.8125em) {
    .ep-7 {
        display: none;
    }
}

/* -------- MEDIA 8 БЛОК  -------- */

@media screen and (width < 25.8125em) {

    .ep-8__father-ep,
    .ep-8__mother-ep {
        align-items: center;
        align-content: center;
        row-gap: 5vh;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .ep-8__father-block>img {
        width: 80%;
    }

    .ep-8__mother-ep>img {
        width: 80%;
        order: 1;
    }

    .ep-8__mother-block {
        order: 2;
    }

    .quote-box {
        font-size: x-small;
    }
}

/* -------- MEDIA 9 БЛОК  -------- */

@media screen and (width < 25.8125em) {
    .ep-9 {
        font-size: xx-small;
    }
}

/* -------- MEDIA 10 БЛОК  -------- */

@media screen and (width < 25.8125em) {
    .ep-10__journey-1 {
        font-size: small;
    }

    .ep-10__subblock-left {
        width: 90%;
    }
}

/* -------- MEDIA 11 БЛОК  -------- */

@media screen and (width < 25.8125em) {
    .ep-11 {
        font-size: xx-small;
    }
}

/* -------- MEDIA 12 БЛОК  -------- */

@media screen and (width < 25.8125em) {
    .ep-12__quote {
        font-size: xxx-large;
        text-align: center;
    }

    .ep-12__title {
        width: 38%;
        font-size: 3em;
    }
    .ep-12__subtitle {
        width: 38%;
        font-size: 1em;
    }
    .ep-12__final-text {
        max-width: 30%;
        font-size: 10vmin;
    }
}

/* PRELOADER */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--bg-dark-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }